<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mascotas</title>
</head>
<body>
    <h1>Lista de Mascotas</h1>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>
    <hr>
    {% if mascotas %}
        <ul>
            {% for mascota in mascotas %}
                <li>{{ mascota.nombre }} - {{ mascota.especie }}</li>
                <ul>
                    <li>Edad: {{ mascota.edad }}</li>
                    <li>Tamaño: {{ mascota.tamaño }}</li>
                    <li>Género: {{ mascota.genero }}</li>
                
                </ul>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron mascotas.</p>
    {% endif %}
</body>
</html>